<div class="mx-[10%] md:mx-[15%] lg:mx-[18%]">
<div
class="bg-[#d0e8e1] relative flex flex-col justify-between rounded-lg my-5 px-10 py-2 text-[1.2rem]  ">
    <div
        class="rounded-[50%]  w-8 h-8 absolute top-0 left-0  flex justify-center items-center font-extrabold bg-[#af413d] text-white  ">
        {{index+1}}
    </div>
        <div class="font-serif h-8"><span class="font-semibold"> name:</span>
            <div class="pl-5 inline-block"> {{student.name}} </div>

        </div>
        <div class="font-serif h-8"><span class="font-semibold">rollnumber: </span>
            <div class="pl-5 inline-block"> {{student.rollnumber}}</div>
        </div>
        <div class="font-serif h-8"><span class="font-semibold">email:</span>
            <div class="pl-5 inline-block">{{student.email}}</div>
        </div>

</div>
</div>