<nav class="
  flex flex-wrap
  items-center
  justify-between
  w-full
  py-4
  md:py-0
  px-4
  text-lg text-gray-700
  bg-white
">
    <div>
        <a routerLink="" class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="site__logo" width="20" height="50" viewBox="77.7 214.9 274.7 412"><defs><linearGradient id="a" x1="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#cc0000"/><stop offset="100%" stop-color="#378f7b"/></linearGradient></defs><path fill="url(#a)" d="M215 214.9c-83.6 123.5-137.3 200.8-137.3 275.9 0 75.2 61.4 136.1 137.3 136.1s137.3-60.9 137.3-136.1c0-75.1-53.7-152.4-137.3-275.9z"/></svg>
            <div class="ml-2 font-semibold drop-shadow-lg">Students Panel</div>
        </a>

    </div>
    <div class="" (click)="showMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" id="menu-button" class="h-6 w-6 cursor-pointer md:hidden block"
            fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
    </div>

    <div [ngClass]="{'hidden':menu}" class="hidden w-full md:flex md:items-center md:w-auto" id="menu">
        <ul class="
      pt-4
      text-base text-gray-700
      md:flex
      md:justify-between 
      md:pt-0">
            <li>
                <a class="md:p-4 py-2 block hover:text-purple-400" routerLink="profile">Home</a>
            </li>
            <li>
                <a class="md:p-4 py-2 block hover:text-purple-400" routerLink="all">All Students</a>
            </li>
            <li>
                <a class="md:p-4 py-2 block hover:text-purple-400 text-purple-500" routerLink="login">Login</a>
            </li>
        </ul>
    </div>
</nav>